button:focus{
    outline: none !important; 

}

.btn-primary.focus, .btn-primary:focus{
    box-shadow: none !important;
}
.searchcardgroup{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    padding-bottom: 2rem;
}

.searchcard{
    width: 25rem ;
    margin: auto;
    height: 29rem !important ;
    background-color:rgba(0, 0, 0, 0.2) !important; 
    color: white;
    text-align: center;
}
.searchcardtitle{
    height: 3rem;
}
.searchCardsButton{
margin-top: 1rem;
background-color: #E67E22;
border: 2px solid #E67E22;
transition: .3s background-color;
}
.searchCardsButton:hover{
    background-color: #cf6d17;
    border:2px #cf6d17 solid;
}
.searchCardsButton:active{
    background-color: #E67E22 !important;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #E67E22 !important;
    border-radius: 200px;
}
.searchCardsButton:focus{
    background-color: #E67E22;
    background-color: rgba(0, 0, 0, 0.1);
    border: 2px solid #E67E22 !important;
    border-radius: 200px;
}
.searchModal{
    text-align: center;
}
.cardsearchtic{
    width: 5rem;
    height: 5rem;
    margin: auto;
}
.cardmodaltext{
    color: black;
    font-size: 2rem;
    text-align: center;
}
.modalsearchbutton{
margin: auto;
background-color: #e67e22 !important;
border:1px #e67e22 solid !important;
border-radius: 100px;
padding: 0px 8px;
margin-bottom: 6px;
}


.modalsearchbutton:active{
    background-color: #E67E22 !important;
    border: #E67E22 1px solid !important;
    border-radius: 100px;
}
.modalsearchbutton:focus{
    background-color: #E67E22 !important;
    border: #E67E22 1px solid !important;
    border-radius: 100px;
    box-shadow: none !important;
}

/* .btn-primary:not(:disabled):not(.disabled):active */
.btn-primary.disabled, .btn-primary:disabled {
    color: #fff;
    background-color: #E67E22;
    border-color: #E67E22;
}